@media(max-width: 1000px) {
    /* Header */
    .background h1 {
        font-size: 60px;
    }
    /* Navigasi */
    nav {
        padding: 50px;
    }
    .nav-item {
        width: 48%;
    }
    /* Utama */
    
    /* Footer */
   footer img{
	height: 120px;
	width:360px;
	padding-right: 5px;
   }
   .des{
	padding-right: 20px;
   }
   .hub{
	padding-right: 20px;
   }

@media(max-width: 670px) {
    /* Header */
    background h1 {
        font-size: 40px;
        margin-top: 10px;
    }
    .top-wrapper {
        background-size: cover;
        height: 10px;
        padding-top: 50px;
    }
    .header-right {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    form {
        display: none;
    }
    /* navigasi */
    nav {
        padding: 30px;
    }
    .nav-item {
        width: 95%;
    }
    /* Utama */
    
    /* Footer */
    footer {
        height:600px;
        width:100%;
    }
    .foot h3{
        font-size: 10px;
    }
    .foot li{
        font-size:7px;
    }
}



