.blue-1 {
    background-color: #3498db;
}
.blue-2 {
    background-color: #2980b9;
}
.green-1 {
    background-color: #1abc9c;
}
.green-2 {
    background-color: #16a085;
}
.orange-1 {
    background-color: #f1c40f;
}
.orange-2 {
    background-color: #f39c12;
}
.red-1 {
    background-color: #e74c3c;
}
.red-2 {
    background-color: #c0392b;
}
.purple-1 {
    background-color: #9b59b6;
}
.purple-2 {
    background-color: #8e44ad;
}
